[{camera_control,
  [{channels, [{channel0, ssp_camera, [1, 0]},
               {channel1, ssp_camera, [2, 1]},
               {channel2, passthrough, [2]},
               {channel3, passthrough, [3]},
               {channel4, passthrough, [4]}]},
   {database_dir, "/home/user/.local/share/camera-control/database"}]}].

% vim:set et sw=2 sts=2:
